<!DOCTYPE html>
 <html lang="es">
 <head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Producto</title>
 <link rel="stylesheet" href= "../CSS/estilos.css">
 <link rel="shorcut icon" href="../flyers.ico">
 </head>
 <body>


 <!--header o cabazera-->
 <header>
   <h2>Pablo Informatica</h2>
   <img src="/flyers.ico" alt="logo de empresa" class="header">
   </header>


   <nav class="barra-navegacion">
    <ul class="barnav">
    <li>
    <a href="../Index.html" class="activo">Inicio</a>
    </li>
    <li> 
    <a href="./view/Contacto.html">Contacto</a>
    </li>
    <li>
    <a href="./view/Presupuesto.html">Presupuesto</a>
    </li>
    <li>
    <a href="./Producto.html">Producto</a>
    </li>
    </ul>
    </nav>

       <h2>Tabla</h2>
      <section class="contenido">
      <TAble>
        <caption>trabajos de Pablo informatica</caption>
        <thead>
          <tr class="encabezados">
            <th><img src="../Assets/imagenes/Kougar.jpg" alt="gabinete"></th>
            <th><img src="../Assets/imagenes/d0f956fb.png" alt=""></th>
            <th><img src="../Assets/imagenes/Gabinte led.jpg" alt=""></th>
          </tr>
        </thead>
          <tr class="columnas">
            <td>fotos</td>
            <td> <img src="../Assets/imagenes/GIGABITE.jpg" alt="notebook"></td>
            <td><img src="../Assets/imagenes/notebook.jpg" alt="notebook2"></td>
          </tr>
        <tbody>
        
                 
        </tbody>
      </TAble>
      </section>
  
 <!--Pie de Pagina o Footer-->
 <footer class="pie-de-pagina">
  <p class="titulo">Cookies</p>
  <p class="Parrafo">Utilizamos Cokies para mejorar Nuesto Servicio</p>
  <p> Todos Los Derechos Reservados 2023 </p>
  <button class="boton" id="btn-Aceptar-cookies">Aceptar</button>
  <button class="Rechazar" id="btn-Rechazar-cookies">Rechazar</button>
  <a  href=https://es-es.facebook.com/policies/cookies>Aviso de cookies</a>
  <a  href="https://www.instagram.com/pabloInformatica64_" ><img src="/Assets/imagenes/instagram_2111463.png" style="width: 30px;" alt="intagram"></a>
  <a  href="https://wa.me/?text=urlencodedtext"><img src="/Assets/imagenes/whasapp.png" alt="whasapp" style="width: 30px;"></a>
  </footer>
 
</body>
</html>